main{
    display: flex;
    position: absolute;
    left: 360px;
    right: 0px;
    top: 300px;
    article{
        display: flex;
        flex-direction: column;
    }
    h2{
        text-align: center;
    }
    .imgap{
        width: 400px;
    }
}