.apropos{
    display: flex;
    width: 100%;
    flex-direction: column;
   .para{
        display: flex;
        flex-direction: column;
        
    }
    p{
        font-family: 'Maitree', serif;
    }
    h1{
        font-family: 'Italianno';
        text-align: center;
        font-size: 50px;
    }
    h3{
        font-family: 'Amiri';
        font-size: 30px;
    }
}
