.achete{
    display: flex;
    justify-content: center;
   
}

.achete p{
    text-align: center;
}


.combi{
    display: flex;
    justify-items: center;
    height:450px;
    width: 250px;
    

}

    