.achete{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 7%;
    
   
    img{
        
        display: flex;
        justify-items: center;
        height: 550px;
        width: 350px;
        margin: 0 auto;
        padding: 20px;
    }
 
}
.description{
    text-align: center;
    white-space: pre-line;
}



.pied{
    p{
        margin-left: 15%;
    }
}

@media screen and ( max-witdh: 1000px)
{
    .achete
    {
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    p{
        margin-left: 20%;
    }

    
}

@media screen and (max-widht: 800px)
{
    .achete{
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    p{
        margin-left: 15;
    }
}
