
.contact{
    display: flex;
    flex-direction: column;
    .form_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;
        gap: 10px;
    } input, textarea{
        width: 350px;
    }textarea{
        height: 200px;
    }input[type="submit"]{
        width: 360px;
    }
}

.bas{
    p{
        margin-left: 15%;
    }
}

@media screen and (max-widht: 1000px)
{
    .contact{
        position: absolute;
        width: 250px;
    }p{
        margin-left: 50%;
    }
}

@media screen and (max-widht: 800px)
{
    .contact{
        width: 150px;
    }
    p{
        margin-left: 15%;
    }
}

.SAV{
    display: flex;
    flex-direction: column;
    margin: 5%;
    .form_sav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    } input, textarea{
        width: 400px;
    }textarea{
        height: 200px;
    }input[type="submit"]{
        width: 410px;
    }select{
        width: 410px;
    }
}

@media screen and (max-widht: 1000px)
{
    .SAV{
        position: absolute;
        width: 250px;
    }p{
        margin-left: 20%;
    }
}

@media screen and (max-widht: 800px)
{
    .SAV{
        width: 150px;
    }
    p{
        margin-left: 15%;
    }
}


