
.contact{
    display: flex;
    justify-content: center;
    margin-left: 270px;
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px;
        gap: 10px;
    } input, textarea{
        width: 400px;
    }textarea{
        height: 200px;
    }input[type="submit"]{
        width: 410px;
    }
    .imgape{
    width: 600px;
   padding: 10px;
    }
}

.SAV{
    display: flex;
    justify-content: center;
    margin-left: 270px;
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px;
        gap: 10px;
    } input, textarea{
        width: 600px;
    }textarea{
        height: 200px;
    }input[type="submit"]{
        width: 610px;
    }
}
