.grille
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 30px;
    img
    {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1500px)
{
    .grille
    {
        grid-template-columns: 1fr 1fr;
    }    
}
@media screen and (max-width: 800px)
{
    .grille
    {
        grid-template-columns: 1fr;
    }    
}
    