nav
{
    display: flex;
    top: 0%;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
    background-image: $color2-background-image;
    position: fixed;
    .logo
    {
        margin-top: 30px;
        width: 90%;
    }
    .reseaux
    {
        margin: 0;
        padding: 0;
    }
    ul
    {
        margin: 0%;
        padding: 0%;
    }
    .navli
    {
        list-style: none;
        font-size: x-large;
        margin-top: 50px;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    .mapgoogle
    {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 30%;
        margin-top: 50px;
    }
    .iframenav
    {
        width: 100%;
    }
    .reseaux
    {
        margin-top: 50px;
        display: flex;
    }
    .navli2
    {
        list-style: none;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    img
    {
        width: 50px;
    }
}
.container
{
    position: absolute;
    top: 0;
    left: 350px;
}

@media screen and (max-width: 1500px)
{
    nav
    {
        width: 300px;
    .mapgoogle
    {
        width: 90%;
    }
}
.container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 300px;
}
}
@media screen and (max-width: 1000px)
{
    nav
    {
        width: 250px;
    }
    .navli2
    {
        margin-top: 30px;
    }
   nav Img
    {
        width: 40px;
        
    }
.container
{
    position: absolute;
    top: 0;
    left: 250px;
}
}
@media screen and (max-width: 800px)
{
    nav
    {
        width: 150px;
    }
    .mapgoogle
    {
        height: 50px;
        width: 50px;
    }
.container
{
    position: absolute;
    top: 0;
    left: 150px;
}
}