nav
{
    display: flex;
    top: 0%;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
    background-image: $color1-background-image;
    position: fixed;
    .logo
    {
        margin-top: 30px;
        width: 100%;
    }
    ul
    {
        padding: 0;
    }
    .navli
    {
        list-style: none;
        font-size: x-large;
        margin-top: 30px;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    .iframenav
    {
        display: flex;
        margin-top: 80px;
    }
    .reseaux
    {
        display: flex;
        margin: 50px;
    }
    .navli2
    {
        list-style: none;
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    Img
    {
        width: 50px;
    }
}
.container
{
    position: absolute;
    top: 0;
    left: 350px;
}