nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
    background-image: $color2-background-image;
    position: fixed;
    .logo
    {
        margin-top: 30px;
        width: 90%;
    }
    .reseaux
    {
        margin: 0;
        padding: 0;
    }
    ul
    {
        margin: 0%;
        padding: 0%;
    }
    .navli
    {
        list-style: none;
        font-size: x-large;
        margin-top: 50px;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    .mapgoogle
    {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 30%;
        margin-top: 50px;
    }
    .iframenav
    {
        width: 100%;
    }
    .reseaux
    {
        margin-top: 50px;
        display: flex;
    }
    .navli2
    {
        list-style: none;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    img
    {
        width: 50px;
    }
}
.container
{
    position: absolute;
    left: 350px;
    .flechehaut
    {
        width: 50px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 1;
        background-image: $color2-background-image;
        border-radius: 50px;
        padding-bottom: 20px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 1500px)
{
    nav
    {
        width: 300px;
    .mapgoogle
    {
        width: 90%;
    }
}
.container
{
    display: flex;
    flex-direction: column;
    left: 300px;
}
}
@media screen and (max-width: 1000px)
{
    nav
    {
        width: 250px;
    }
    .navli2
    {
        margin-top: 30px;
    }
   nav Img
    {
        width: 40px;
        
    }
.container
{
    left: 250px;
}
}
@media screen and (max-width: 800px)
{
    nav
    {
        width: 80px;
    }
    nav.open
    {
        width: 200px;
    }
    .logo
    {
        transform: scaleY(0);
    }
    .logo.open
    {
        transform: scaleY(1);
    }
    #burger {
        width:30px;
        height:2px;
        background:white;
        display:inline-block;
        position:fixed;
        left: 25px;
        top: 120px;
      }
      #burger::before,
      #burger::after {
        content:'';
        width:30px;
        height:2px;
        background:white;
        display:inline-block;
        position:absolute;
        transform-origin: center;
        transition: all 0.3s ease;
      }
      #burger::before {
        top:-7px;
      }
      #burger::after {
        top:7px;
      }
      
      #burger.open {
        background:transparent;
      }
      #burger.open::before {
        transform: rotate(45deg);
        top:0;
      }
      #burger.open::after {
        transform: rotate(-45deg);
        top:0;
      }
    .navul
    {
        transform: scaleY(0);
    }
    .navul.open
    {
        transform: scaleY(1);
    }
    .navli a
    {
        font-size: 20px;
    }
    .mapgoogle
    {
        transform: scaleY(0);
    }
    .mapgoogle.open
    {
        transform: scaleY(1);
    }
    .reseaux
    {
        transform: scaleY(0);
    }
    .reseaux.open
    {
        transform: scaleY(1);
    }
.container
{
    left: 80px;
}
.container.open
{
    left: 200px;
}
}